<nz-layout class="layout">
  <htd-main-menu [dataContext]="viewModel"></htd-main-menu>
  <nz-content>
    <div style="height: 100%;padding-top: 2px">
      <ngx-amap class="demo-map" [center]="[116.397428, 39.90923]">
        <amap-marker [position]="[116.397428, 39.90923]" (markerClick)="onMarkerClick($event)"></amap-marker>
      </ngx-amap>
      {{viewModel.date}}
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
</nz-layout>